<a href="https://colab.research.google.com/github/Zzero-73/Python_Alura_Latam/blob/main/Pandas_Zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Aula 1 - LKeyendo archivos CSV**

## **Importando archivos csv**

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('/content/superstore_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/content/superstore_data.csv'

In [ ]:
datos.head()

In [ ]:
datos.shape

In [ ]:
datos_punto_coma = pd.read_csv('/content/superstore_data_punto_coma.csv',delimiter=";")

In [ ]:
datos_punto_coma.head()

## **Rows - Filas**

In [ ]:
datos_primeras_filas = pd.read_csv('/content/superstore_data.csv', nrows = 5)
datos_primeras_filas

## **usecols - Columnas**

In [ ]:
datos_primeras_columnas = pd.read_csv('/content/superstore_data.csv', usecols=range(7))
datos_primeras_columnas

In [ ]:
datos_primeras_seleccionadas = pd.read_csv('/content/superstore_data.csv', usecols=['Year_Birth','Income','Id'])
datos_primeras_seleccionadas

In [ ]:
datos_primeras_seleccionadas2 = pd.read_csv('/content/superstore_data.csv', usecols=[1,4,0])
datos_primeras_seleccionadas2

## **Guardando archivo**

In [ ]:
datos_primeras_seleccionadas2.to_csv('datos_primeras_seleccionadas2.csv', index=False)

In [ ]:
datos_primeras_seleccionadas2 = pd.read_csv('/content/datos_primeras_seleccionadas2.csv')
datos_primeras_seleccionadas2

# **Leer archivos Excel**
## Lectura básica

In [ ]:
import pandas as pd

datos = pd.read_excel('/content/archivo.xlsx')
datos

In [ ]:
# Leer una hoja específica por nombre
datos = pd.read_excel('/content/archivo.xlsx', sheet_name='Hoja1')

# Leer una hoja por índice (0 es la primera)
datos = pd.read_excel('/content/archivo.xlsx', sheet_name=0)

# Leer múltiples hojas (devuelve un diccionario)
datos = pd.read_excel('/content/archivo.xlsx', sheet_name=['Hoja1', 'Hoja2'])

# Leer todas las hojas
datos = pd.read_excel('/content/archivo.xlsx', sheet_name=None)

# Especificar columnas a leer
datos = pd.read_excel('/content/archivo.xlsx', usecols='A:D')  # Columnas A a D
datos = pd.read_excel('/content/archivo.xlsx', usecols=[0, 1, 2])  # Primeras 3

# Si tiene índice en la primera columna
datos = pd.read_excel('/content/archivo.xlsx', index_col=0)

# **Para Sheeets Google**

## Opción 1: Usando la URL directamente (más fácil)

In [ ]:
import pandas as pd

# URL del Google Sheet (debe estar en modo "Cualquiera con el enlace")
url = 'https://docs.google.com/spreadsheets/d/TU_ID_DEL_SHEET/edit#gid=0'

# Convertir a formato CSV exportable
url_csv = url.replace('/edit#gid=', '/export?format=csv&gid=')

# Leer
df = pd.read_excel(url_csv)

## Opción 2: Formato más simple

In [ ]:
# Si tienes la URL completa
sheet_id = 'TU_ID_DEL_SHEET'  # La parte después de /d/ en la URL
gid = '0'  # ID de la hoja específica (después de gid=)

url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/export?format=csv&gid={gid}'
df = pd.read_csv(url)

In [ ]:
import pandas as pd

# URL directa del archivo Excel
url = 'https://cdn3.gnarususercontent.com.br/1980-pandas-e-s/emisiones_carbono_mundo.xlsx'

# Leer directamente
carbono = pd.read_excel(url)
carbono.head()

In [ ]:
# Guardando la data carbono
carbono.to_csv('carbono.csv', index=False)

In [ ]:
# Llamando a la data carbono
carbono = pd.read_csv('/content/carbono.csv')
carbono.head()

# **Leyendo archivos JSON**

## Lectura básica

In [ ]:
import pandas as pd

# Desde un archivo local
df = pd.read_json('/content/archivo.json')
df

# Desde una URL
url = 'https://ejemplo.com/datos.json'
df = pd.read_json(url)

In [ ]:
# Opción 1: json_normalize (recomendada)
import pandas as pd
from pandas import json_normalize

# Leer el JSON primero
import requests
response = requests.get('https://api.ejemplo.com/datos.json')
data = response.json()

# Normalizar (aplana la estructura anidada)
df_normalizado = json_normalize(data)
df_normalizado

# **Importando desde una Web**

In [ ]:
# primero guardar la web en el local y subirlo en carpeta archivos, luego llamarlo con pandas
import pandas as pd
datos_html = pd.read_html('/content/peliculas_wikipedia.html')
datos_html

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                       Film  Release year              Director  \
 0             Citizen Kane          1941          Orson Welles
 1               Casablanca          1942        Michael Curtiz
 2            The Godfather          1972  Francis Ford Coppola
 3       Gone with the Wind          1939        Victor Fleming
 4       Lawrence of Arabia          1962            David Lean
 ..                     ...           ...                   ...
 118        Sophie's Choice          1982        Alan J. Pakula
 119  The Last Picture Show          1971     Peter Bogdanovich
 120     Do the Right Thing          1989             Spike Lee
 121           Blade Runner          1982          Ridley Scott
 122              Toy Story          1995         John Lasseter

                               Production companies 1998 Rank 2007 Rank
 0                               RKO Radio Pictures         1         1
 1                            Warner Bros. Pictures         2         3
 2           Paramount Pictures, Alfran Productions         3         2
 3                  Selznick International Pictures         4         6
 4                                 Horizon Pictures         5         7
 ..                                             ...       ...       ...
 118                              ITC Entertainment         -        91
 119                                BBS Productions         -        95
 120                  40 Acres and a Mule Filmworks         -        96
 121                The Ladd Company, Shaw Brothers         -        97
 122  Walt Disney Pictures, Pixar Animation Studios         -        99

 [123 rows x 6 columns]]

In [ ]:
len(datos_html)

In [ ]:
# Obtenemos la 2da tabla mostrada aqui
top_peliculas = datos_html[1]
top_peliculas

,Film,Release year,Director,Production companies,1998 Rank,2007 Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2,3
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3,2
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4,6
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5,7
...,...,...,...,...,...,...
118,Sophie's Choice,1982,Alan J. Pakula,ITC Entertainment,-,91
119,The Last Picture Show,1971,Peter Bogdanovich,BBS Productions,-,95
120,Do the Right Thing,1989,Spike Lee,40 Acres and a Mule Filmworks,-,96
121,Blade Runner,1982,Ridley Scott,"The Ladd Company, Shaw Brothers",-,97
122,Toy Story,1995,John Lasseter,"Walt Disney Pictures, Pixar Animation Studios",-,99

In [ ]:
type(top_peliculas)

In [ ]:
# Guardando
top_peliculas.to_html('Top_peliculas.html' , index=False)

In [ ]:
# Leyendolo nuevamente
datos_top_html = pd.read_html('/content/Top_peliculas.html')
datos_top_html

[                      Film  Release year              Director  \
 0             Citizen Kane          1941          Orson Welles
 1               Casablanca          1942        Michael Curtiz
 2            The Godfather          1972  Francis Ford Coppola
 3       Gone with the Wind          1939        Victor Fleming
 4       Lawrence of Arabia          1962            David Lean
 ..                     ...           ...                   ...
 118        Sophie's Choice          1982        Alan J. Pakula
 119  The Last Picture Show          1971     Peter Bogdanovich
 120     Do the Right Thing          1989             Spike Lee
 121           Blade Runner          1982          Ridley Scott
 122              Toy Story          1995         John Lasseter

                               Production companies 1998 Rank 2007 Rank
 0                               RKO Radio Pictures         1         1
 1                            Warner Bros. Pictures         2         3
 2           Paramount Pictures, Alfran Productions         3         2
 3                  Selznick International Pictures         4         6
 4                                 Horizon Pictures         5         7
 ..                                             ...       ...       ...
 118                              ITC Entertainment         -        91
 119                                BBS Productions         -        95
 120                  40 Acres and a Mule Filmworks         -        96
 121                The Ladd Company, Shaw Brothers         -        97
 122  Walt Disney Pictures, Pixar Animation Studios         -        99

 [123 rows x 6 columns]]

In [ ]:
# El read_html devuelve una lista de DataFrames, así que accedemos al primero
df = datos_top_html[0]

# Filtrar por un año específico
df_filtrado = df[df['Release year'] <= 1940]

df_filtrado

,Film,Release year,Director,Production companies,1998 Rank,2007 Rank
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4,6
5,The Wizard of Oz,1939,Victor Fleming,Metro-Goldwyn-Mayer,6,10
20,The Grapes of Wrath,1940,John Ford,20th Century-Fox,21,23
28,Mr. Smith Goes to Washington,1939,Frank Capra,Columbia Pictures,29,26
34,It Happened One Night,1934,Frank Capra,Columbia Pictures,35,46
42,King Kong,1933,Merian C. Cooper,RKO Radio Pictures,43,41
43,The Birth of a Nation,1915,D.W. Griffith,David W. Griffith Corp.,44,-
48,Snow White and the Seven Dwarfs,1937,"David Hand, et al.",Walt Disney Productions,49,34
50,The Philadelphia Story,1940,George Cukor,Metro-Goldwyn-Mayer,51,44
53,All Quiet on the Western Front,1930,Lewis Milestone,Universal Pictures,54,-
57,Fantasia,1940,Various,Walt Disney Productions,58,-
62,Stagecoach,1939,John Ford,Walter Wanger Productions,63,-
72,Wuthering Heights,1939,William Wyler,Samuel Goldwyn Productions,73,-
73,The Gold Rush,1925,Charlie Chaplin,Charles Chaplin Productions,74,58
75,City Lights,1931,Charlie Chaplin,Charles Chaplin Productions,76,11
80,Modern Times,1936,Charlie Chaplin,Charles Chaplin Film Corp.,81,78
84,Duck Soup,1933,Leo McCarey,Paramount Productions,85,60
85,Mutiny on the Bounty,1935,Frank Lloyd,Metro-Goldwyn-Mayer,86,-
86,Frankenstein,1931,James Whale,Universal Pictures,87,-
89,The Jazz Singer,1927,Alan Crosland,"Warner Bros. Pictures, The Vitaphone Corp.",90,-
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97,88
100,The General,1926,Buster Keaton,"Buster Keaton Productions, Joseph M. Schenck P...",-,18
101,Intolerance,1916,D.W. Griffith,Reliance-Majestic Studios,-,49
112,Sunrise,1927,F.W. Murnau,Fox Film Corporation,-,82
114,A Night at the Opera,1935,Sam Wood,Metro-Goldwyn-Mayer,-,85
117,Swing Time,1936,George Stevens,RKO Radio Pictures,-,90

In [ ]:
df_filtrado.to_html('Top_peliculas_1940.html', index=False)

# **Importando datos desde XML**

In [ ]:
import pandas as pd
datos_xml = pd.read_xml('/content/imdb_top_1000.xml')
datos_xml.head(5)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
# guardando el archivo xml
datos_xml.to_xml('datos_xml.xml', index=False)

In [ ]:
# Practica de lectura y obtención de datos, obtener el pais y el número de población del siguiente link
# https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n
import pandas as pd

# Definir headers con User-Agent
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

url = 'https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n'

# Usar requests para obtener el HTML con headers personalizados
import requests

response = requests.get(url, headers=headers)
datos_paises_html = pd.read_html(response.text)

# Ver la primera tabla
df_paises = datos_paises_html[0]
df_paises.head()

/tmp/ipython-input-2873914405.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  datos_paises_html = pd.read_html(response.text)

,N.º,País (o territorio dependiente),Proyección exponencial de la población al 1/7/2025[7]​,Total mun- dial (%),Cambio medio anual (%)[8]​,Cambio absoluto anual promedio,Cambio medio abs. total anual (%),Años para even- tual du- pli- ca- ción[9]​,"Censo más reciente, última estimación oficial, proyección de la ONU o reloj de población nacional",Fecha de esta última cifra de población en particular (d/mm/aaaa)[10]​,Tipo[11]​,Enlace o hipervínculo (usualmente de tipo oficial) de esta última cifra de población
0,1,India,1 417 492 000,1754,090,12 692 000,1547,78,1 417 492 000,1/07/2025,A,web.archive.org
1,2,China[12]​,1 407 934 000,1743,-005,-1 390 000,-,-,1 408 280 000,31/12/2024,E,www.stats.gov.cn
2,3,Estados Unidos,342 181 000,424,061,2 084 000,254,114,343 084 000,1/01/2026,R,www.census.gov
3,4,Indonesia,284 447 000,352,107,3 043 000,371,65,284 438 782,30/06/2025,E,www.bps.go.id
4,5,Pakistán,256 204 000,317,256,6 567 000,801,27,241 499 431,1/03/2023,C,www.pbs.gov.pk

In [ ]:
# Obtener solo la petición de la consulta de arriba las columnas pais y población
df_seleccion = df_paises[['País (o territorio dependiente)','Proyección exponencial de la población al 1/7/2025[7]​']]
df_seleccion

,País (o territorio dependiente),Proyección exponencial de la población al 1/7/2025[7]​
0,India,1 417 492 000
1,China[12]​,1 407 934 000
2,Estados Unidos,342 181 000
3,Indonesia,284 447 000
4,Pakistán,256 204 000
...,...,...
241,Islas Cocos (Australia),600
242,Islas Ultramarinas Menores de los Estados Unidos,100
243,Islas Pitcairn (RU),30
244,Mundo,8 079 659 000
245,País (o territorio dependiente),Proyección exponencial de la población al 1/7/...

In [ ]:
# Guardando el archivo
df_seleccion.to_csv('df_seleccion.csv', index=False)

# **Leyendo banco de datos**

## Creando un banco de base de datos local

In [ ]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect , text
# Memoria local de python colab usar 3 barras ///
engine = create_engine('sqlite:///mi_base_de_datos.db')

In [ ]:
import pandas as pd
datos_banco_clientes = pd.read_csv('/content/clientes_banco.csv')
datos_banco_clientes.head()

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
datos_banco_clientes.to_sql('clientes', engine, index=False, if_exists='replace')

438463

In [ ]:
# Esto es para verificar las tamblas el nombre
inspector = inspect(engine)
inspector.get_table_names()

['clientes']

## Leyendo una consulta SQL

In [ ]:
Query = 'select * from clientes where Categoria_de_renta = "Empleado" '
empleados = pd.read_sql(Query, engine)
empleados

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [ ]:
# Guardando la base de empleados
empleados.to_sql('empleados', engine, index=False)

226059

In [ ]:
# Leyendo la tabla empleados
empleados = pd.read_sql('empleados', engine)
empleados

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [ ]:
# Leyendo solo las primeras 3 columnas de la tabla empleados
empleados = pd.read_sql('empleados', engine, columns=['ID_Cliente','Grado_estudio','Categoria_de_renta'])
empleados

        ID_Cliente     Grado_estudio Categoria_de_renta
0          5008804    Nivel superior           Empleado
1          5008805    Nivel superior           Empleado
2          5008806  Nivel intermedio           Empleado
3          5008815    Nivel superior           Empleado
4          5112956    Nivel superior           Empleado
...            ...               ...                ...
226054     6837905  Nivel intermedio           Empleado
226055     6837906  Nivel intermedio           Empleado
226056     6839936  Nivel intermedio           Empleado
226057     6840222  Nivel intermedio           Empleado
226058     6842885  Nivel intermedio           Empleado

[226059 rows x 3 columns]

## Actualizando los datos

In [ ]:
pd.read_sql_query('select * from empleados', engine)

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [ ]:
# Borrar el 1er registro de empleados
from sqlalchemy import text

# Borrar el 1er registro de empleados
Query = 'DELETE FROM empleados WHERE ID_Cliente = 5008804'

with engine.connect() as conexion:
    resultado = conexion.execute(text(Query))
    conexion.commit()  # Confirmar los cambios

    # Verificar si se eliminó algún registro
    if resultado.rowcount > 0:
        print(f"Registro eliminado exitosamente! ({resultado.rowcount} fila(s) afectada(s))")
    else:
        print("No se encuentra el valor a eliminar")

Registro eliminado exitosamente! (1 fila(s) afectada(s))

In [ ]:
pd.read_sql_query('select * from empleados', engine)

NameError: name 'pd' is not defined

In [ ]:
# Actualizando registros

Query = 'UPDATE FROM empleados SET Categoria_de_renta = "Independiente" WHERE ID_Cliente = 5008804'
try:
  r_set=engine.execute(Query)
  engine.commit()
except
  print("No se pudo actualizar")
  engine.rollback()
  engine.close()
 else
  print("Actualizado exitosamente")

In [2]:
# trayendo a leer la data de clientes_banco pero como datos sql
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, inspect , text

# Leer el CSV
cliente_banco_df = pd.read_csv('/content/clientes_banco.csv')

# Crear una base de datos SQLite en memoria (o en archivo)
engine = create_engine('sqlite:///BancoDB.db')

# Cargar el DataFrame a una tabla SQL
cliente_banco_df.to_sql('Clientes', engine, if_exists='replace', index=False)

print("CSV cargado exitosamente a SQLAlchemy")

CSV cargado exitosamente a SQLAlchemy

In [3]:
Query = 'select * from Clientes'
clientes = pd.read_sql(Query, engine)
clientes

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [4]:
query ='select * from Clientes where ID_Cliente = "6840104"'
clientes_id = pd.read_sql(query, engine)
clientes_id

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio

In [5]:
# Actualizar el registro del cliente ID 6840104 cuyo rendimiento anual cambió a 300000.
Query = 'UPDATE Clientes SET Rendimiento_anual = 300000 WHERE ID_Cliente = "6840104"'
with engine.connect() as conexion:
    resultado = conexion.execute(text(Query))
    conexion.commit()
    # Verificar si actalizo un registro
    if resultado.rowcount > 0:
        print(f"Registro actualizado exitosamente! ({resultado.rowcount}")
    else:
        print("No se encuentra el valor a actualizar")

Registro actualizado exitosamente! (1

In [6]:
# Verificando el cambio realizado anteriormente
query = 'select * from Clientes where ID_Cliente = "6840104"'
clientes_id = pd.read_sql(query, engine)
clientes_id

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,300000.0,0,Casa/Departamento propio

In [9]:
# Eliminar el registro de cliente ID 5008809, ya que esta persona ya no tiene cuenta en la institución financiera.
query = 'DELETE FROM Clientes WHERE ID_Cliente = "5008809"'
with engine.connect() as conexion:
    resultado = conexion.execute(text(query))
    conexion.commit()
    # Verificar si elimino el registro
    if resultado.rowcount > 0:
      print(f"Registro eliminado exitosamente! ({resultado.rowcount}")
    else:
      print("No se encuentra el valor a eliminar")

Registro eliminado exitosamente! (1

In [10]:
# Verificando el cambio realizando anteriormente
query = 'select * from Clientes where ID_Cliente = "5008809"'
clientes_id = pd.read_sql(query, engine)
clientes_id

Empty DataFrame
Columns: [ID_Cliente, Edad, Grado_estudio, Estado_civil, Tamaño_familia, Categoria_de_renta, Ocupacion, Años_empleado, Rendimiento_anual, Tiene_carro, Vivienda]
Index: []

In [13]:
# Crear un nuevo registro de cliente siguiendo las especificaciones a continuación:
# ID_cliente: 6850985
# Edad: 33
# Grado_estudio: Doctorado
# Estado_civil: Soltero
# Tamaño_familia: 1
# Categoria_de_renta: Empleado
# Ocupacion: TI
# Años_empleado: 2
# Rendimiento_anual: 290000
# Tiene_carro: 0
# Vivienda: Casa/Departamento propio

query = '''
INSERT INTO Clientes (ID_cliente, Edad, Grado_estudio, Estado_civil, Tamaño_familia, Categoria_de_renta, Ocupacion, Años_empleado, Rendimiento_anual, Tiene_carro, Vivienda)
VALUES (6850985, 33, "Doctorado", "Soltero", 1, "Empleado", "TI", 2, 290000,0, "Casa/Departamento propio")
'''
with engine.connect() as conexion:
    resultado = conexion.execute(text(query))
    conexion.commit()
    # Verificar que se ingreso correctamente
    if resultado.rowcount > 0:
      print(f"Registro ingresado exitosamente! ({resultado.rowcount})")
    else:
      print("No se pudo ingresar el registro")

Registro ingresado exitosamente! (1)

In [14]:
# revisando el nuevo cliente ingresado 6850985
query = 'select * from Clientes where ID_Cliente = "6850985"'
clientes_id = pd.read_sql(query, engine)
clientes_id

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,6850985,33,Doctorado,Soltero,1,Empleado,TI,2,290000.0,0,Casa/Departamento propio

In [27]:
query = 'select * from Clientes order by ID_Cliente asc'
clientes_id = pd.read_sql(query, engine)
clientes_id.iloc[200:210]

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
200,5009043,48,Nivel superior,Casado,2,Empleado,Equipo principal,2,148500.0,0,Casa/Departamento propio
201,5009044,48,Nivel superior,Casado,2,Empleado,Equipo principal,2,148500.0,0,Casa/Departamento propio
202,5009045,48,Nivel superior,Casado,2,Empleado,Equipo principal,2,148500.0,0,Casa/Departamento propio
203,5009046,48,Nivel superior,Casado,2,Empleado,Equipo principal,2,148500.0,0,Casa/Departamento propio
204,5009047,48,Nivel superior,Casado,2,Empleado,Equipo principal,2,148500.0,0,Casa/Departamento propio
205,5009050,30,Nivel superior,Casado,4,Empleado,Equipo principal,6,202500.0,0,Casa/Departamento propio
206,5009051,30,Nivel superior,Casado,4,Empleado,Equipo principal,6,202500.0,0,Casa/Departamento propio
207,5009052,30,Nivel superior,Casado,4,Empleado,Equipo principal,6,202500.0,0,Casa/Departamento propio
208,5009053,30,Nivel superior,Casado,4,Empleado,Equipo principal,6,202500.0,0,Casa/Departamento propio
209,5009055,30,Nivel superior,Casado,4,Empleado,Equipo principal,6,202500.0,0,Casa/Departamento propio

In [28]:
# Forma básica ver filas total
query = 'SELECT COUNT(*) FROM Clientes'
total = pd.read_sql(query, engine)
print(f"Total de registros: {total.iloc[0, 0]}")

Total de registros: 438463

In [29]:
# Traer solo 1 fila para ver las columnas
query = 'SELECT * FROM Clientes LIMIT 1'
clientes = pd.read_sql(query, engine)
total_columnas = len(clientes.columns)
print(f"Total de columnas: {total_columnas}")

Total de columnas: 11